* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #999;
}
html, body {
    margin:0;
    padding:0;
    height:100%;
}
body {
    border:0;
    width:100%;
    background:#222;
    min-width:600px;
}
h1 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: .8em;
    line-height: 1;
}
a, a:visited {
    text-decoration: none;
    font-size: 0.8em;
}
a:hover {
    color:#fff;
    text-decoration:none;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    clear:both;
    width:100%;
    border-bottom: .2em solid #111;
}
#header ul {
    clear:left;
    float:left;
    width:100%;
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    background:#eee;
    color:#000;
    text-decoration:none;
    position:relative;
    left:15px;
}
#header ul li a:hover {
    background:#369;
    color:#fff;
}
#header ul li a span {
    display:block;
}
/* 'widths' sub menu */
#logo {
    border-bottom: 1px solid #000;
    height: 1.8em;
    background: #404040 url(../img/logo.jpg) no-repeat;
}
#logo h1 {
    position: absolute;
    padding: .2em;
    margin:0;
    color: #fff;
    display: none;
}
#logo a, #logo a:visited {
    position: absolute;
    right: 0;
    top: 0;
    padding: .3em;
    color: #999;
}
#navigation {
    background: #414141;
    margin: 0;
    padding-left: 9em;
    position: relative;
}
#navigation * {
    color: #fff;
}
#navigation span a {
    padding: .3em;
}
#navigation span.rightAlign {
    position:absolute;
    right:0;
    top: 0;
}

#content {
    padding-bottom: 3em;
    margin: 3em auto 0 auto;
    width: 770px;
    position:relative;
}

#content h2 {
    display: inline;
    position:relative;
    padding: .2em;
    color: #878787;
}
#content ul#featureHomepage {
    display: inline;
    position:absolute;
    right: 0;
}
#content ul#featureHomepage li {
    display: inline;
}
#content ul#featureHomepage li a,
#content ul#featureHomepage li a:visited {
    padding: .3em;
    color: #999;
}
#content ul#featureHomepage li {
    color: #999;
}

#content div#thumbnails {
    position: relative;
    height: 10em;
    clear:both;
}
#content div#thumbnails div.thumbnail {
    float: left;
    width: 15.5%;
    overflow: hidden;
    height: 10em;
    text-align: center;
    margin: .2em;
}

#content div#thumbnails div.thumbnail h3 {
    white-space:nowrap;
    color: #999;
}

#content div#frontpage {

}

#content div#frontpage div.twoCol {
    width: 50%;
    float: left;
}
#content div#frontpage div.threeCol {
    width: 33.3%;
    float: left;
}

div.contentBlock {
    background-color: #2a2a2a;
    padding: .3em;
    margin: .3em;
}

div.contentBlock * {
    color: #999;
}
div.contentBlock p {
    font-size: .8em;
}

.breathe {
    margin: .3em;
}

.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}

span.newsDate {
    font-size: .8em;
}

a.bugLink {
    padding-left: 20px; /*18px + 2 padding*/
    background: transparent url(../img/bug.jpg) no-repeat center left;
}

a.twitterLink {
    padding-left: 20px; /*18px + 2 padding*/
    background: transparent url(../img/twitter.jpg) no-repeat center left;
}

a.pagingNext {
    border: none;
    background-image: url('../img/paging_next.jpg');
    width: 18px;
    height: 18px;
}

a.pagingNext:hover {
    background-image: url('../img/paging_next_hover.jpg');
}

a.pagingPrev {
    border: none;
    background-image: url('../img/paging_prev.jpg');
    width: 18px;
    height: 18px;
}

a.pagingPrev:hover {
    background-image: url('../img/paging_prev_hover.jpg');
}

/* Footer styles */
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:3em;
}
#footer p {
    padding:10px;
    margin:0;
    text-align:center;
}

.clear {
    clear:both;
}
