* {
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #999;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    width: 100%;
    background: #222;
    min-width: 900px;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: .8em;
    line-height: 1;
}

a, a:visited {
    text-decoration: none;
    font-size: 0.8em;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#playButtonOverlayBackground {
    display: none;
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;

    filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

#playButtonOverlay a {
    display: block;
    z-index: 999;
    border: 1px solid red;
    position: fixed;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

#playButtonOverlay a img{

    filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;

    width: 200px;
    height: 200px;
}

#container {
    min-height: 100%;
    position: relative;
}

img {
    border: none;
}

/* The topmost header */
div#logoBar {
    background: #373737 url(../img/header_sprite.png) repeat-x 0 -180px;
    position: relative;
    width: 100%;
    height: 30px;
    clear: both;
    border-bottom: 1px solid #000;
}

div#logoBar h1#parleysHeader {
    background: #a40202 url(../img/header_sprite.png) no-repeat -50px 0;
    float: left;
    width: 100px;
    height: 30px;
}

div#logoBar ul {
    height: 30px;
    float: left;
    background: #a40202;
}

div#logoBar ul li {
    list-style: none
}

div#logoBar ul li.homeButton a {
    background: #a40202 url(../img/header_sprite.png) no-repeat !important;
    height: 30px !important;
    padding: 0 !important;
    width: 40px;
}

div#logoBar ul li.homeButton a:hover {
    background: url(../img/header_sprite.png) no-repeat 0 -45px !important;
}

div#logoBar ul li.navButton,
div#logoBar ul li.navButton a {
    float: left;
}

div#logoBar ul li.navButton a {
    background: #a40202 url(../img/header_sprite.png) repeat-x 0 -90px;
    height: 14px;
    padding: 8px 15px 8px 15px;
    color: #ffcc00;
    font-weight: normal;
    text-decoration: none;
}

div#logoBar ul li.navButton a:hover {
    background: url(../img/header_sprite.png) repeat-x 0 -135px;
}

div#logoBar span.navEnd {
    background: url(../img/header_sprite.png) no-repeat -170px 0 !important;
    float: left;
    height: 30px !important;
    width: 25px;
}

div#logoBar .loginButton {
    float: right;
    padding: 7px;
}

.degrade {
    display: none;
}

/*
#header {
    clear:both;
    width:100%;
    border-bottom: .2em solid #111;
}
#header ul {
    clear:left;
    float:left;
    width:100%;
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
}
#header ul li {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
}
#header ul li a {
    display:block;
    float:left;
    margin:0 0 0 1px;
    padding:3px 10px;
    text-align:center;
    background:#eee;
    color:#000;
    text-decoration:none;
    position:relative;
    left:15px;
}
#header ul li a:hover {
    background:#369;
    color:#fff;
}
#header ul li a span {
    display:block;
}
#logo {
    border-bottom: 1px solid #000;
    height: 1.8em;
    background: #404040 url(../img/logo.jpg) no-repeat;
}
#logo h1 {
    position: absolute;
    padding: .2em;
    margin:0;
    color: #fff;
    display: none;
}
#logo a, #logo a:visited {
    position: absolute;
    right: 0;
    top: 0;
    padding: .3em;
    color: #999;
}
*/
#navigationBar {    
    background: #414141 url(../img/header_sprite.png) repeat-x 0 -225px;
    padding-left: 150px;
    position: relative;
    height: 30px;
    -webkit-box-shadow: 0px 0px 10px black;    
    border-bottom: 1px solid black;
}

#navigationBar div {
    height: 30px;
}

#navigationBar div * {
    position: relative;
    color: #969696;
    padding: 7px;
    display: block;
}

#navigationBar div.left * {
    float: left;
    text-shadow: 0.1em 0.2em 4px black;    
}

#navigationBar div.left {
    float: left;
}

#navigationBar div.right {
    float: right;
}

#navigationBar div.right * {
    text-shadow: 0.1em 0.2em 4px black;
    float: left;
}

.search {
    width: 20px;
    height: 20px;
    background: transparent url(../img/icon_search_up.png) no-repeat center center;
}

#navigationBar div span {
    padding-left: 0;
    padding-right: 0;
    color: black;
}

#navigationBar div a:hover {
    background: #666 url(../img/header_sprite.png) repeat-x 0 -270px;
}

#content {
    padding-bottom: 3em;
    margin: 3em auto 0 auto;
    width: 900px;
    position: relative;
}

#content.fullWidth {
    width: 100%;
}

#content.fullWidth div.videoAndSlidesWrapper {
    width: 90%;
    margin: 0 auto 0 auto;
}

#content h2,
#content h4 {
    display: inline;
    position: relative;
    padding: .2em;
    color: #878787;
}

#content ul#featureHomepage {
    display: inline;
    position: absolute;
    right: 0;
}

#content ul#featureHomepage li {
    display: inline;
}

#content ul#featureHomepage li a,
#content ul#featureHomepage li a:visited {
    padding: .3em;
    color: #999;
}

#content ul#featureHomepage li {
    color: #999;
}

#content div#thumbnails {
    position: relative;
    height: 10em;
    clear: both;
}

#content div#thumbnails div.thumbnail {
    float: left;
    width: 15.5%;
    overflow: hidden;
    height: 10em;
    text-align: center;
    margin: .2em;
}

#content div#thumbnails div.thumbnail h3 {
    white-space: nowrap;
    color: #999;
}

.reflect {
    -webkit-box-reflect:below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(white));
}

#content div#frontpage {

}

#content div#frontpage div.twoCol {
    width: 50%;
    float: left;
}

#content div#pods div.threeCol {
    width: 33.3%;
    float: left;
}

div.contentBlock {
    background-color: #2a2a2a;
    padding: .3em;
    margin: .3em;
}
div.contentBlock.news {
    height: 275px;
}

div.contentBlock * {
    color: #999;
}

div.contentBlock p {
    font-size: .8em;
}

div.contentBlock.pod {
    height: 80px;
    -webkit-border-radius:10px;
    border:1px solid black;
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4B4B), to(#343434));
}

#content div#videoContainer {
    float: left;
    width: 49%;
    text-align: center;
}

#content div#slidesContainer {
    float: left;
    width: 49%;
    text-align: center;
}

#content div#slidesContainer img {
    width: 99%;
}

div#videoControls {
    float: left;
    width: 100%;
    background: url("../img/presentationBottomBG.jpg") repeat-x;
    position: relative;
}

div#videoControls div#tagsAndComments {
    float: left;
    width: 150px;
}

div#videoControls div#controls {
    margin: 0 auto 0 auto;
    width: 150px;
    white-space: nowrap;
}

div#videoControls div#volume {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
}

div#videoControls div#volume div#videoVolumeSlider {
    border: 1px solid #ccc;
}

div#videoControls div#volume div#videoVolumeSlider a {
    background-color: #fff;
}

div#videoNavigationBar {
    width: 100%;
    float: left;
}

div#videoNavigationBar div#videoTimeAndPosition {
    width: 146px;
    float: left;
    padding: 2px;
    white-space: nowrap;
    font-size: small;
    color: #fff;
}

div#videoNavigationBar div#videoNavigationBarChapters {
    float: left;
}

div#videoNavigationBar li {
    float: left;
    border: 1px solid #333;
    border-left: none;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
}

div#videoNavigationBar li.first {
    border-left: 1px solid #333;
}

div#videoNavigationBar li a {
    width: 100%;
    height: 22px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: block;
    background: url("../img/progressbar_sprite.png") repeat-x 0 0;
}

div#videoNavigationBar li a:hover {
    background: url("../img/progressbar_sprite.png") repeat-x 0 -50px;
}

div#videoNavigationBar li span {
    visibility: hidden;
}

div#videoNavigationBarCursor {
    position: relative;
    left: -7px;
    top: -10px;
    width: 14px;
    height: 34px;
    display: block;
    background: url("../img/progressbar_cursor.png");
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

.breathe {
    margin: .3em;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

span.newsDate {
    font-size: .8em;
}

a.bugLink {
    padding-left: 20px; /*18px + 2 padding*/
    background: transparent url(../img/bug.jpg) no-repeat center left;
}

a.twitterLink {
    padding-left: 20px; /*18px + 2 padding*/
    background: transparent url(../img/twitter.jpg) no-repeat center left;
}

a.pagingNext {
    border: none;
    background-image: url('../img/paging_next.jpg');
    width: 18px;
    height: 18px;
}

a.pagingNext:hover {
    background-image: url('../img/paging_next_hover.jpg');
}

a.pagingPrev {
    border: none;
    background-image: url('../img/paging_prev.jpg');
    width: 18px;
    height: 18px;
}

a.pagingPrev:hover {
    background-image: url('../img/paging_prev_hover.jpg');
}

/* Footer styles */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
}

#footer.videoPage {
    height: 6em;
}

#footer p {
    padding: 10px;
    margin: 0;
    text-align: center;
}

.clear {
    clear: both;
}

.rating_bar {
    width: 73px;
    background: url('../img/starsUnselected.png') 0 0 no-repeat;
}

.rating_bar div {
    height: 13px;
    background: url('../img/starsSelected.png') 0 0 no-repeat;
}

.shadowbox {
    -webkit-border-radius:10px;
    border:1px solid black;
    background: -webkit-gradient(linear, left top, left bottom, from(#4B4B4B), to(#343434));
    margin-top: 5px;
    height: 110px;
}

.leftcol {
    padding: 10px 10px 10px 10px;
    vertical-align: baseline;
}

.centercol {
    padding: 10px 5px 10px 0;
    width: 600px;
    vertical-align: top;
}

.rightcol {
    background: url('../img/podDivider.png') 10px 15px no-repeat;
    padding: 10px 10px 10px 30px;
    vertical-align: top;
}