<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2010 Parleys.com.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <session-config>
        <session-timeout>2</session-timeout>
    </session-config>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
        <param-value>
            /WEB-INF/html5.taglib.xml;
            /WEB-INF/parleys.taglib.xml
        </param-value>
    </context-param>

    <!--<context-param>-->
        <!--<param-name>facelets.RESOURCE_RESOLVER</param-name>-->
        <!--<param-value>org.apache.myfaces.extensions.scripting.facelet.ReroutingResourceResolver</param-value>-->
    <!--</context-param>-->

    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocations</param-name>
        <param-value>
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>

    <!--<context-param>-->
        <!--<param-name>javax.faces.SEPARATOR_CHAR</param-name>-->
        <!--<param-value>_</param-value>-->
    <!--</context-param>-->

    <!--<context-param>-->
        <!--<description>-->
            <!--Enables our scripting engine support plugins-->
        <!--</description>-->
        <!--<param-name>org.apache.myfaces.FACES_INIT_PLUGINS</param-name>-->
        <!--<param-value>org.apache.myfaces.extensions.scripting.servlet.StartupServletContextPluginChainLoader-->
        <!--</param-value>-->
    <!--</context-param>-->

    <!--<context-param>-->
        <!--<description>-->
            <!--Additional comma separated loader paths to allow direct editing-->
            <!--on the sources directory instead of the deployment dir-->
        <!--</description>-->
        <!--<param-name>org.apache.myfaces.extensions.scripting.java.LOADER_PATHS</param-name>-->
        <!--<param-value>-->
            <!--D:/dev/work/idea9/parleys/web-html5/src/main/java-->
        <!--</param-value>-->
    <!--</context-param>-->
    <!--<context-param>-->
        <!--<description>-->
            <!--Additional comma separated loader paths to allow direct editing-->
            <!--on the sources directory instead of the deployment dir-->
        <!--</description>-->
        <!--<param-name>org.apache.myfaces.extensions.scripting.resources.LOADER_PATHS</param-name>-->
        <!--<param-value>-->
            <!--D:/dev/work/idea9/parleys/web-html5/src/main/webapp-->
        <!--</param-value>-->
    <!--</context-param>-->

    <!--<filter>-->
        <!--<filter-name>scriptingFilter</filter-name>-->
        <!--<filter-class>org.apache.myfaces.extensions.scripting.servlet.ScriptingServletFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>scriptingFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
        <!--<dispatcher>REQUEST</dispatcher>-->
        <!--<dispatcher>FORWARD</dispatcher>-->
        <!--<dispatcher>INCLUDE</dispatcher>-->
        <!--<dispatcher>ERROR</dispatcher>-->
    <!--</filter-mapping>-->

    <filter>
        <filter-name>Pretty Filter</filter-name>
        <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Pretty Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <listener>
        <description>Reloads the PrettyFaces configuration when changed in Development ProjectStage</description>
        <listener-class>com.ocpsoft.pretty.faces.config.PrettyConfigListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>faces</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>faces</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

</web-app>
